appdirs==1.4.4
attrs==20.3.0
bleach==3.2.1
bump2version==1.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
coverage==5.3.1
cryptography==3.3.1
distlib==0.3.1
docutils==0.16
filelock==3.0.12
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
jeepney==0.6.0
keyring==21.8.0
mccabe==0.6.1
packaging==20.8
pkginfo==1.6.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.1
pytest-runner==5.2
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
toml==0.10.2
torch
torchaudio
torchvision
tox==3.20.1
tqdm
twine==3.3.0
urllib3==1.26.2
virtualenv==20.2.2
webencodings==0.5.1
pdoc3
cloudpickle
coloredlogs
scipy
tensorboard
